<section class='container' id='About'>
  <div class="row">
    <div class="image col-md-6">
      <%= image_tag("/assets/images/face.png") %>
    </div><!--image-->
    <div class="intro col-12 col-md-4">
      <h1>About Me:</h1>
      <p>My name is Adrian Dabi. I am a hungry lion ready for theopportunity to work and grow as a full-stack web developer. For most of my adult life I have worked in the hospitality industry, beacuse of this careing and building rappor with customers is second nature to me. In fact the more I care about the client and project the better I do. I was drawn to web development because it mainly requiers problem solving and creativity. My goal is to create an ecomerce website and a blog to showcase my talents in this field.</p>
      <!--Intro section-->
</section><!--container-->
